:root {
    font-size: 14px;
    --primary-color: #41414f;
    --secondary-color: #f9dc5c;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
}


.container {
    display: grid;
    place-items: center;
    height: 100vh;
}
.login-div {
    width: 250px;
    height: 200px;
    /* border: 2px solid #dda5b6; */
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0 rgba(249, 220, 92, 0.4);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    box-sizing: border-box;
    height: 35px;
    margin: 5px 0;
    width: 175px;
    padding: 0 10px;
    border: 1.5px solid var(--secondary-color);
    border-radius: 4px;
    background: transparent;
    color: var(--secondary-color);
    font-weight: 500;
    /* border: none; */
}

input[type="text"]::placeholder {
    font-weight: 100;
    color: rgba(249, 220, 92, 0.8)
}

input[type="text"]:focus {
    color: var(--secondary-color);
    outline: none;
    /* border: 1.5px solid #dda5b6; */
}

input[type="submit"] {
    box-sizing: border-box;
    height: 30px;
    margin: 2.5px 0;
    width: 175px;
    padding: 0 10px;
    border: 1.5px solid var(--secondary-color);
    border-radius: 4px;
    background: transparent;
    color: var(--secondary-color);
    font-weight: bold;
    transition: 0.4s;
}

input[type="submit"]:hover {
    cursor: pointer;
    border: none;
    /* outline: none; */
    color: var(--primary-color);
    background: var(--secondary-color);
    /* transition: 0.5ms; */
}